@{
    ViewBag.Title = "Funny";
}

<div class="col-xs-12">
    <p>Sorry still working on this one.</p>
    <img src="~/Images/trouble-afoot.jpg"/>
</div>

@*
<div class="col-xs-6">
    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">Previous</span>
    </button>
</div>


<div class="col-xs-6">
    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">Next</span>
    </button>
</div>

<div class="col-xs-12">
    
</div>
*@
