@{
    ViewBag.Title = "Breakout";
}

<article style="margin-top: 20px;">
    <div class="row col-xs-12 col-sm-6 col-sm-offset-3">
        <canvas id="breakoutCanvas" width="320" height="240"></canvas>
    </div>
    <div class="col-xs-12 col-sm-3 col-sm-offset-3">
        <a href="~/Scripts/breakout.js" target="_blank">Source</a>
    </div>
    <div class="col-xs-12 col-sm-3">
        @Html.ActionLink("Back", "Index", "JS")
    </div>
</article>

@section scripts {
    <script src="~/Scripts/breakout.js"></script>
}
