@{
    ViewBag.Title = "Index";
}

<ul class="list-group" style="margin-top: 25px">
    <li class="list-group-item">@Html.ActionLink("Maze generation", "Show", new { name = "Maze" })</li>
    <li class="list-group-item">@Html.ActionLink("Breakout demo", "Show", new { name = "Breakout" })</li>
</ul>
