@{
    ViewBag.Title = "New";
}

<div class="page-header">
    <div class="row">
        <h1>New blog post</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6">
        <p>New blog post plaaa plaa plaa.</p>
    </div>
    <div class="col-xs-12 col-md-6">
        @Html.Action("Upload")
    </div>
</div>
