@{
    ViewBag.Title = "News";
}

<!-- bottom bar -->
<nav class="navbar-fixed-bottom news-navbar" padding-top: 5px;">
    <div class="row news-navbar-row">
        <!-- search dialog -->
        <div class="col-md-1 col-lg-1"></div>
        <form id="searchForm" class="text-center" role="form" style="display:none;">
            <label class="hidden-xs col-sm-3 col-md-2 col-lg-4">Search</label>
            <input class="col-xs-12 col-sm-5 col-md-5 col-lg-4" type="text" placeholder="anything..." />
        </form>
    </div>
    <div class="row news-navbar-row">
        <!-- about button-->
        <div class="hidden-xs hidden-sm col-md-1 col-lg-1">
            <button id="about" class="btn btn-info">About</button>
        </div>
        <!-- tag selection -->
        <div>
            <!-- tag selection -->
            <form class="form-inline" role="form">
                <label class="hidden-xs col-sm-3 col-md-2 col-lg-4" for="source">Category</label>
                <select class="col-xs-12 col-sm-5 col-md-5 col-lg-4" id="selectTag">
                    <!-- options added in load -->
                </select>
            </form>
        </div> 
        <div class="hidden-xs col-sm-4 col-md-3 col-lg-2 text-center">
            <button id="buttonSearchForm" class="btn btn-info"
                    onclick="searchToggle()">
                Enable <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
        @if (Request.IsAuthenticated)
        {
            <div class="hidden-xs hidden-sm col-md-1 col-lg-1">
                <button class="btn btn-info"
                        onclick="location.href='@Url.Action("Index", "NewsAdmin")'">
                    Status
                </button>
            </div>
        }
    </div>
</nav>

<!-- about modal dialog -->
<div class="modal fade" id="aboutModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">About news section</h4>
            </div>
            <div class="modal-body">
                <p>
                    Source for the news are <a href="http://yle.fi" target="_blank">YLE</a> RSS <a href="http://yle.fi/uutiset/rss-syotteet/6075085" target="_blank">feeds</a>
                </p>
                <p>
                    News are fetched in a scheduled job (Quartz) from RSS feeds. Parsed and stored into DB. Each article has a collection of Tags associated into it. Tags are seen as category in this page. DB's tags and articles are fetched into page by making Ajax calls into web api. Page also uses simple infinite scroll. At start only 10 articles are fetched and more as user scrolls at the bottom of page. Book icon opens up a specific page for reading mode (specific browser only).
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- loading wheel -->
<div id="loading" class="row" style="padding-bottom: 10px;">
    <div id="circularG" class="center-block">
        <div id="circularG_1" class="circularG">
        </div>
        <div id="circularG_2" class="circularG">
        </div>
        <div id="circularG_3" class="circularG">
        </div>
        <div id="circularG_4" class="circularG">
        </div>
        <div id="circularG_5" class="circularG">
        </div>
        <div id="circularG_6" class="circularG">
        </div>
        <div id="circularG_7" class="circularG">
        </div>
        <div id="circularG_8" class="circularG">
        </div>
    </div>
</div>

<!-- articles -->
<div id="articles" class="row" style="padding-bottom: 10px; display:none;">

    <!-- article template with picture -->
    <article class="articleTemplatePicture col-xs-12 col-lg-6" style="margin-bottom: 21px;">
        <div class="col-sm-12" style="margin-bottom: 7px;">
            <div class="row well well-sm" onclick="expandArticle(this);" style="cursor: pointer; margin-top: 0px; margin-bottom: 0px;">
                <div class="col-xs-10">
                    <h4 class="articleTitle">Lorem ipsum dolor sit amet</h4>
                </div>
                <div class="col-xs-1">
                    <h4>
                        <span class="glyphicon glyphicon-chevron-down news-expander">
                        </span>
                    </h4>
                </div>
                <div class="col-xs-1">
                    <h4>
                        <a target="_blank" href="" class="articleReadingView">
                            <span class="glyphicon glyphicon-book"></span>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6" style="cursor: pointer;" onclick="expandArticle(this);">
            <img src="~/Images/articleDummy.jpg" width="265" height="149" class="articlePicture" style="margin-top: 10px;" />
        </div>
        <div class="col-xs-12 col-sm-6" style="margin-top: 7px;">
            <p class="articleDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="articleContent col-xs-12 news-content" style="margin-top:14px;">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </div>
        <div class="col-xs-offset-2 col-xs-4 news-content">
            <a href="" target="_blank" class="articleSource">Source</a>
        </div>
        <div class="col-xs-4 news-content">
            <h6 style="text-align: right;" class="articleDate">14:43 23.4.2015</h6>
        </div>
    </article>

    <!-- article template without picture -->
    <article class="articleTemplate col-xs-12 col-lg-6" style="margin-bottom: 21px;">
        <div class="col-sm-12" style="margin-bottom: 7px;">
            <div class="row well well-sm" onclick="expandArticle(this);" style="cursor: pointer; margin-top: 0px; margin-bottom: 0px;">
                <div class="col-xs-10">
                    <h4 class="articleTitle">Lorem ipsum dolor sit amet</h4>
                </div>
                <div class="col-xs-1">
                    <h4>
                        <span class="glyphicon glyphicon-chevron-down news-expander">
                        </span>
                    </h4>
                </div>
                <div class="col-xs-1">
                    <h4>
                        <a target="_blank" href="" class="articleReadingView">
                            <span class="glyphicon glyphicon-book"></span>
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-xs-12" style="margin-top: 7px;">
            <p class="articleDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="articleContent col-xs-12 news-content" style="margin-top:14px;">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </div>
        <div class="col-xs-offset-2 col-xs-4 news-content">
            <a href="" target="_blank" class="articleSource">Source</a>
        </div>
        <div class="col-xs-4 news-content">
            <h6 style="text-align: right;" class="articleDate">14:43 23.4.2015</h6>
        </div>
    </article>
</div>
<!-- spinner to show when loading more articles -->
<div id="loadingMore" class="row" style="display: none;">
    <div id="circularG" class="center-block">
        <div id="circularG_1" class="circularG">
        </div>
        <div id="circularG_2" class="circularG">
        </div>
        <div id="circularG_3" class="circularG">
        </div>
        <div id="circularG_4" class="circularG">
        </div>
        <div id="circularG_5" class="circularG">
        </div>
        <div id="circularG_6" class="circularG">
        </div>
        <div id="circularG_7" class="circularG">
        </div>
        <div id="circularG_8" class="circularG">
        </div>
    </div>
</div>
@section scripts {
    <script>
        var currentPage = 1;
        var currentTag = 0;
        var moreArticles = false;
        var articleTemplate = null;
        var articleTemplatePicture = null;
        var loading = false;

        // search toggle
        function searchToggle() {
            event.preventDefault();
            var sf = $('#searchForm');
            if (sf.css('display') === 'none') {
                $('#buttonSearchForm').html('Disable <span class="glyphicon glyphicon-search"></span>');
                sf.show();
            } else {
                sf.hide();
                $('#buttonSearchForm').html('Enable <span class="glyphicon glyphicon-search"></span>');
            }
        }

        // article show/hide
        function expandArticle(element) {
            var article = $(element).parents('article');
            var content = article.children('.news-content');
            var glyph = article.find('.news-expander');
            if (glyph.hasClass('glyphicon-chevron-down')) {
                glyph.removeClass('glyphicon-chevron-down');
                glyph.addClass('glyphicon-chevron-up');
                content.show();
            }
            else {
                glyph.removeClass('glyphicon-chevron-up');
                glyph.addClass('glyphicon-chevron-down');
                content.hide();
            }
        }

        // load tags
        function loadTags() {
            // api call to get list of tags
            $.getJSON("/api/news/tags", function (response) {
                // check that response is array
                if (Object.prototype.toString.call(response) === '[object Array]') {
                    // tag select element
                    var tagSelect = $('#selectTag');
                    $('<option value="0">Everything</option>').appendTo(tagSelect);
                    for (var i = 0; i < response.length; i++) {
                        $('<option/>', { value: response[i].Id, text: response[i].Name }).appendTo(tagSelect);
                    }
                    selectTagChange(); // trigger (causes first tag's news to be loaded in during page load)
                }
            });
        }

        // tag change
        function selectTagChange() {
            currentTag = $('#selectTag').val(); // tag
            currentPage = 0; //  reset page
            moreArticles = true;
            $('#articles').html(""); // empty news
            $('#loading').show(); // show loading
            addArticles();
        }

        // add articles
        function addArticles() {
            if (loading === false) {
                // loading lock so just one at a time
                loading = true;
                // next page
                currentPage++;
                // show spinner at bottom when loading additional pages
                if (currentPage != 1) {
                    $('#loadingMore').show();
                }
                // build url with ta g and page
                var articlesUrl = "/api/news/articles?";
                // 0 tag is added separetely at top, without tag we get all articles
                if (currentTag !== '0') {
                    articlesUrl += "tag=" + currentTag + "&";
                }
                articlesUrl += "page=" + currentPage;
                $.getJSON(articlesUrl, function (response) {
                    $('#loading').hide(); // hide loading
                    // check response is array
                    if (Object.prototype.toString.call(response) === '[object Array]') {
                        // loop thru articles
                        for (var i = 0; i < response.length; i++) {
                            var article;
                            // template with image or no?
                            if (response[i].ImageUrl != null) {
                                article = articleTemplatePicture.clone();
                                article.find('.articlePicture').attr("src", response[i].ImageUrl);
                            } else {
                                article = articleTemplate.clone();
                            }
                            // add content
                            article.find('.articleTitle').text(response[i].Title);
                            article.find('.articleDescription').text(response[i].Description);
                            article.find('.articleContent').html(response[i].Content);
                            article.find('.articleDate').html(formatSqlDateString(response[i].Date));
                            article.find('.articleSource').attr("href", response[i].SourceUrl);
                            article.find('.articleReadingView').attr("href", '/news/readingview/' + response[i].Id);
                            article.children('.news-content').hide();
                            // add filled template to articles
                            article.appendTo('#articles');
                        }
                        // are there any more articles?
                        if (response.length == 0) {
                            moreArticles = false;
                        }
                    } else {
                        $('#articles').html("<p>Sorry, error occured loading articles please try refreshing page.</p>");
                    }
                }).always(function () {
                    // release loading lock
                    loading = false;
                    // hide loading more
                    $('#loadingMore').hide();
                });
            }
        }

        function formatSqlDateString(sqlDateString) {
            // 2015-12-03 21:44:22.000
            var da = sqlDateString.split(/[-T:]/);
            // 21:44
            // 3.12.2015
            var newDateString = da[3] + ":" + da[4] + " " + da[2] + "." + da[1] + "." + da[0];
            return newDateString;
        }

        // "infinite scroll"
        $(window).scroll(function () {
            // one article row is around 250
            if (($(window).scrollTop() + 250) >= $(document).height() - $(window).height()) {
                if (moreArticles) {
                    addArticles();
                }
            }
        });

        // about dialog
        function showAbout() {
            $('#aboutModal').modal('show');
        };


        // doc rdy
        $(function () {
            // create templates
            articleTemplate = $('.articleTemplate').clone();
            articleTemplate.removeClass('articleTemplate');
            articleTemplatePicture = $('.articleTemplatePicture').clone();
            articleTemplatePicture.removeClass('articleTemplate');
            $('#articles').html(""); // remove templates
            $('#articles').show(); // now that it is empty, show it

            // load
            loadTags();

            // set listeners
            $('#selectTag').change(selectTagChange);
            $('#about').on('click', showAbout);
        });
    </script>
}