@{
    ViewBag.Title = "Me";
}

<article>
    <div class="col-xs-12 col-md-8 col-lg-6 text-justify">
        <h3>Biography</h3>
        <p>
            Hi, I am in my thirties and live in the northern part of Finland. I have lived most of my life in small cities close to nature which i enjoy. After grammar school i applied to vocational school to get hands on approach to electronics and computers as they had peeked my interest since when I was little and got my first computer.
        </p>
        <p>
            I started working with computers by being administrator of small corporation networks and workstations before and during my studies at Rovaniemi Polytechnic. During this I also provided user support, teaching, creating SQL queries for financial reports, web pages and forms. At school I also worked as a trainee in the distributed computing field. My tasks involved learning and setting up small scale Grid computing. Software I wrote mostly in Java back then. This work was done in both pLab research lab (part of school) and in exchange program with Fermilab high energy physics research center in Chicago.
        </p>
        <p>
            I got my first day job as Software Engineer thru a Symbian training program at Teleca. The company was later merged and is called Symphony Teleca today. During this almost five year employment I took part in various software projects. My responsibilities ranged from design, implementation, integration, building, releasing, testing and defect debugging. Platforms i worked on were Symbian, Windows desktop side, Linux desktop and mobile. I mostly wrote software using C/C++. Also a lot of work was done in Python, Perl and shell scripts. Defect debugging and helping users use our software tools was also part of my day to day work.
        </p>
        <p>
            Recently I finished Certified programmer studies at Utbildning Nord. This included two Microsoft Certified Solutions Developer (MCSD) titles, one for web applications and other for store applications. Part of my studies was practice work that I did in Ceruus OY making them a WPF application for product registration, which uses REST API for communication, supports label printer and QR scanner. Also during studies I took a part in EU job mobility program and spend a month in Poland learning and programming Java at Asseco.
        </p>
        <p>
            On my free time i like to play games with friends, watch some Netflix or go for a swim.  In winter I might go skiing or just spend time on cabins with family and friends. During summer I go cheer in the crowd when my godson and sisters family drive rally cars (called Jokki’s in finnish).
        </p>
    </div>
    <div class="col-xs-12 col-md-1">
        <a href="http://fi.linkedin.com/in/anttieskola">
            <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View my profile on LinkedIn" />
        </a>
        <a href="https://github.com/anttieskola">
            <img src="~/Images/GitHub_Logo.png" width="160" alt="View my repositories"/>
        </a>
        <a href="https://www.microsoft.com/learning/en-us/mcsd-certification.aspx">
            <img src="~/Images/mcsd.png" width="160" alt="View more information on MCSD certification" />
        </a>
        <img src="~/Images/SideFadedGrayScale.jpg" width="200" class="hidden-xs hidden-sm" style="opacity: 0.75;"/>
    </div>
</article>
