@{
    ViewBag.Title = "Me";
}

<article>
    <section class="col-sm-11 col-md-8 col-lg-6 text-justify">
        <h3>Biography</h3>
        <p>
            Hi, I am in my thirties and live in the northern part of Finland. I have lived most of my life in small cities close to nature which i enjoy. After grammar school i applied to vocational school to get hands on approach to electronics and computers as they had peeked my interest since when I was little and got my first computer.
        </p>
        <p>
            I started working with computers by being administrator of small corporation networks and workstations before and during my studies at Rovaniemi Polytechnic. During this I also provided user support, teaching, creating SQL queries for financial reports, web pages and forms. At school I also worked as a trainee in the distributed computing field. My tasks involved around learning and setting up small scale Grid computing. Software I wrote mostly in Java back then. This work was done in both pLab research lab (part of school) and in exchange program with Fermilab high energy physics research center in Chicago.
        </p>
        <p>
            I got my first day job as Software Engineer thru a Symbian training program at Teleca. The company was later merged and is called Symphony Teleca today. During this almost five year employment i took part in various software projects. My responsibilities ranged from design, implementation, integration, building, releasing, testing and defect debugging. Platforms i worked on were Symbian, Windows desktop side, Linux desktop and mobile. I mostly wrote software using C/C++. Also a lot of work was done in Python, Perl and shell scripts. Defect debugging and helping users use our software tools was also part of my day to day work.
        </p>
        <p>
            Currently I am studying more programming at Utbildning Nord. This includes completing two Microsoft Certified Solutions Developer (MCSD) titles, one for store applications and other for web applications. In the beginning we also did the CompTIA A+ and Network+ certifications. I am hoping my next job would continue to improve my knowledge of C#, .Net framework, Asp, Javascript and HTML5.
        </p>
        <p>
            On my free time i like to play games with friends or watch some Netflix. In winter I might go skiing or just spend time on cabins with family and friends. During summer I go cheer in the crowd when my godson and sisters family drive rally cars (called Jokki’s in finnish). In the fall you might see me going on hunting trips to try to catch some game in the woods.
        </p>
    </section>
</article>
