@using AE.Mpg.Entity
@model IEnumerable<Fill>

<table class="table table-striped">
    <tr>
        <th>Mileage</th>
        <th>Amount</th>
    </tr>
    @foreach (Fill f in Model)
    {
        <tr>
            <th>@f.Mileage</th>
            <th>@f.Amount</th>
        </tr>
    }
</table>
